@model SistemaLogin.Areas.Seguranca.Data.Usuario

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <br />
    <h3>Tem certeza que deseja excluir o Usuário do sistema?</h3>
    <br />
    <h4>Usuário: </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="container">
            <div class="row">
                <div class="col d-grid gap-2">
                    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default btn-lg" })
                </div>
                <div class="col d-grid gap-2">
                    <input type="submit" value="Delete" class="btn btn-success btn-lg" />
                </div>
            </div>
        </div>
        <br />
    }
</div>
